@inherits LayoutComponentBase
@namespace seareng

<main>
    <div class="px-4">
        <a href="/">Home</a>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About Asp Net Core</a>
    </div>

    <content class="px-4">
        @Body
    </content>
</main>
